/* Import font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Set margin on body to 0 - to see effect of doing this comment it out and compare - and default font behaviour */
body {
	margin: 0;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
}


/* Set outer container to width and height of device */
.container-page {
	height: 100vh;
	width: 100vw;

	/* border: yellow solid 2px; */
}

/* Position calculator in centre of outer container and set to 50% width of outer container */
.container-calculator {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35%;

	/* border: blue solid 2px; */
}

/* Set size of individual calculation containers to 100% of calculator container and set margin to give gap between elements */
.container-calculations {
	width: 100%;
	box-sizing: border-box;
	/* border-radius: 25px 25px; */

	margin-bottom: 1em;

	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	display: flex;
	flex-direction: column;

	/* border: red solid 2px; */

	border-radius: 6px;
}

/* Set behaviour of individual rows to flex */
.calculations-top, .calculations-bottom {
	display: flex;	
}

/* Set colour of top row to grey */
.calculations-top {
	background-color: rgba(187, 187, 187, 0.527);
	
	border-radius: 6px 6px 0px 0px;
}

.calculations-bottom {
	/* background-color: #5ae991; */
	/* border-radius: 0px 0px 5px 5px; */
	border-radius: 0px 0px 6px 6px;
	height: 45px;
}

/* Set width of each text element to 50% to split in to 2 columns */
.calculations-text {
	width: 50%;
	padding: 0.5em;

	/*border: lime solid 1px;*/
}

/* Align relevant text to the right of the column */
.calculations-text-right {
	text-align: right;
}

.calculations-input, .calculations-answer {
	border: none;
}

.container-icons {
	position: relative;
	left: 45%;
	/* width: 10%; */

	/* border: green solid 2px; */
}



.icon-gear {
	/* background-color: #04AA6D; */
	/* color: white; */
	/* padding: 16px; */
	border: none;
} 

/* The container <div> - needed to position the dropdown content */
.dropdown-settings {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-settings-content {
	display: none;
	position: absolute;
	/* background-color: #f1f1f1; */
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-settings-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-settings-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-settings:hover .dropdown-settings-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown-settings:hover .icon-gear {background-color: #3e8e41;} */