.container {
  margin: 0.5rem 0;
  width: 100%;
}

.label {
  background-color: #e0e0e0;
  padding: 0.5rem 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 500 !important;
}

.input {
  background: white;
  
  :global(.MuiOutlinedInput-root) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  input {
    padding: 0.75rem 1rem;
    font-family: 'Roboto Mono', monospace;
  }
} 