.container {
  margin: 0.75rem 0;
  width: 100%;
  overflow: hidden;
}

.label {
  padding: 0.5rem 1rem;
  font-weight: 500 !important;
}

.input {
  margin: 0 1px;
  
  :global(.MuiOutlinedInput-root) {
    background: transparent;
  }
  
  input {
    padding: 0.75rem 1rem;
    font-family: 'Roboto Mono', monospace;
  }
} 